@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  background-color: rgb(201, 199, 199);  
}

header {
  color: rgb(223, 223, 223);
  background-color: rgb(27, 27, 27);
  text-align: center;
  padding: 50px 0px;
}

header h1 {
  font-family: "Passion One", sans-serif;
  font-weight: 700px;
  font-size: 60px;
  font-variant: small-caps;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
}

header p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.541);
}

header a {
  text-decoration: none;
  color: rgb(247, 247, 247);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header a:hover {
  text-decoration: underline;
  color: rgb(67, 168, 112);
}

Section {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-size: 32px;
  font-style: normal;
  line-height: 2em;
  padding: 10vh;
  color: rgb(39, 39, 39);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
}

.parallax {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.parallax.bg-1 {
  background-image: url(imagens/background001.jpg);
}

.parallax.bg-2 {
  background-image: url(imagens/background002.jpg);
}

div {
  padding: 12px 12px;
  background-color: rgba(0, 0, 0, 0.342);
  max-width: 400px;
  border-radius: 6px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.692);
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.233);
}

footer {
  background-color: rgb(27, 27, 27);
  text-align: center;
  color: rgb(223, 223, 223);
  padding: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.281);
}
